{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="jp">

<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Book Diary</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'bookdiary:index' %}">BookDiary</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active toggle-item" href="{% url 'bookdiary:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active toggle-item" href="{% url 'bookdiary:bookdiary_create' %}">New Record</a></li>
                    <li class="nav-item"><a class="nav-link active toggle-item" href="{% url 'bookdiary:bookdiary_list' %}">My Record</a></li>
                </ul>
            </div>
            
            <div class="nav-item dropdown ms-auto">
                
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'image/user.png'%}"alt="ユーザー名：{{ user.get_username }}"></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_email' %}">My Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <a href="https://github.com/boc-ra/book">GitHub</a>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>