{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="jp">

<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>Book Diary</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'bookdiary:index' %}">BookDiary</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'bookdiary:index' %}">ホーム</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'bookdiary:bookdiary_create' %}">記録</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'bookdiary:bookdiary_list' %}">記録の閲覧</a></li>
                </ul>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">ユーザー名：{{ user.get_username }}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'account_logout' %}">ログアウト</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_email' %}">登録情報</a></li>
                  <!-- <li><a class="dropdown-item" href="{% url 'account_email' %}">あああ</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>