.navbar img:hover {
    transform: scale(1.5);
  }
  
.navbar img {
    max-width: 3vw;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.toggle-text {
  display: none; 
}

.navbar-collapse.show .toggle-text{
  display: inline;
}

@media (min-width: 992px) {
  .toggle-text {
      display: none; 
  }
}